<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kainos Academy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="https://companieslogo.com/img/orig/KNOS.L-8a0d29cc.png?t=1720244492">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/styles.css">
    <link rel="icon" type="image/x-icon" id="companieslogo"href="https://companieslogo.com/img/orig/KNOS.L-8a0d29cc.png?t=1720244492">
</head>
<body>
    <main></main>
    {% include "kainosHeader.html" %}
 
    <main class="container mt-4 d-flex justify-content-center align-items-center" style="height: 70vh;">
        <div class="error-container">
            <div class="error-code">404</div>
            <div class="error-message">Page Not Found</div>
            <div class="error-description">Sorry, the job role information you are looking for does not exist.</div>
            <a class="back-link" href="/">Return to Home Page</a>
            <br>
            <br>
            <br>
             <br>
            <br>
            <br>
        </div>
    </main>
    {% include "kainosFooter.html" %}
</body>
</html>