<footer class="bg-success text-light py-4 text-center">
    <p class="mb-3">Contact us:</p>
    <div class="d-flex justify-content-center mb-4">
        <a href="https://www.instagram.com/kainossoftware/" target="_blank" rel="noopener noreferrer" class="mx-2" id="instagramlinkbutton" aria-label="Instagram">
            <img src="/assets/images/instagramlogo.webp" alt="Instagram Logo" width="50" height="50">
        </a>
        <a href="https://www.facebook.com/KainosSoftware/?locale=en_GB" target="_blank" rel="noopener noreferrer" id="facebooklinkbutton" aria-label="Facebook" >
            <img src="/assets/images/facebooklogo.png" alt="Facebook Logo" width="50" height="50">
        </a>
    </div>
    <p class="mb-0">&copy; Kainos 2024</p>
</footer>