<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kainos Academy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="https://companieslogo.com/img/orig/KNOS.L-8a0d29cc.png?t=1720244492">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/styles.css">
    <link rel="icon" type="image/x-icon" id="companieslogo"href="https://companieslogo.com/img/orig/KNOS.L-8a0d29cc.png?t=1720244492">

</head>
<body>

    {% include "header.html" %}

    <main></main>
    {% include "kainosHeader.html" %}


        <main class="container mt-4">
            <section id="kainos main content">
                <h2>Welcome to Kainos</h2>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Why should you work at Kainos?</h5>
                                <p class="card-text">Kainos is an innovative IT company that offers a unique blend of career
                                    growth, challenging projects, and a supportive work environment.
                                    By joining Kainos, you'll be part of a team that values creativity, collaboration, and
                                    cutting-edge technology, ensuring your skills stay relevant in an ever-evolving
                                    industry.</p>
                                <p class="card-text">At Kainos, you'll have the opportunity to work on impactful projects
                                    that drive digital transformation for clients across various sectors. The company
                                    prioritizes professional development through continuous learning, mentorship programs,
                                    and hands-on experience with the latest tools and technologies. With a commitment to
                                    work-life balance, a strong sense of community, and numerous opportunities for personal
                                    growth, Kainos provides an ideal environment for ambitious individuals looking to make a
                                    difference in their careers and the world.</p>
                                    <br/>
                            </div>
                            <video autoplay muted loop class="card-img-top">
                                <source src="assets/images/Kainos_Our_people_write_our_story.mp4" type="video/mp4"
                                    id="kainosvideo">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <img class="card-img-top" src="assets/images/kainospeople.jpeg" alt="Kainos Picture" id="kainospeopleimage">
                            <div class="card-body">
                                <h5 class="card-title">Discover Your Potential at Kainos</h5>
                                <p>At Kainos, your career will be shaped by innovation, growth, and the opportunity to make
                                    a significant impact. We pride ourselves on delivering top-tier digital solutions that
                                    transform industries and improve lives. Joining our team means you'll work on
                                    cutting-edge projects that challenge your skills and expand your knowledge, making a
                                    real-world difference in sectors like healthcare, finance, and government.</p>


                            </div>
                        </div>
                    </div>
                    </ul>
            </section>

            <section id="job-descriptions" class="mt-5">
                <h2>Job Descriptions</h2>
                <p>Find out more about each job!</p>
                <div class="list-group">
                    <a href="https://careers.kainos.com/gb/en/job/JR_14358/Lead-Data-Engineer" target="_blank"
                        rel="noopener noreferrer" class="list-group-item list-group-item-action" id="leadDataEngineerLink">Lead Data Engineer</a>
                    <a href="https://careers.kainos.com/gb/en/job/JR_14422/Lead-Software-Engineer-Dynamics-365"
                        target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action" id="leadSoftwareEngineerLink">Lead
                        Software Engineer</a>
                    <a href="https://careers.kainos.com/gb/en/job/JR_14214/Sales-Engineer" target="_blank"
                        rel="noopener noreferrer" class="list-group-item list-group-item-action" id="salesEngineerLink">Sales Engineer</a>

                </div>
            </section>
            <br>
            <br>
        </main>
        {% include "kainosFooter.html" %}
</body>

</html>