<!DOCTYPE html>
<html>
<head>
    <title>Job Role Information</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/styles.css">
    <link rel="icon" type="image/x-icon" id="companieslogo" href="https://companieslogo.com/img/orig/KNOS.L-8a0d29cc.png?t=1720244492">
</head>
<body>
    {% include "kainosHeader.html" %}

    <main class="container mt-5">
        <h1 class="mb-4">{{ jobRole.roleName }}</h1>
    
        <div class="job-role-details">
            <p><strong>Description:</strong> {{ jobRole.description }}</p>
            <p><strong>Responsibilities:</strong> {{ jobRole.responsibilities }}</p>
            <p><strong>Sharepoint URL:</strong> <a id="jobspeclink" href="{{ jobRole.sharepointUrl }}" target="_blank">Link to job description</a></p>
            <p><strong>Location:</strong> {{ jobRole.location }}</p>
            <p><strong>Capability Name:</strong> {{ jobRole.capabilityName }}</p>
            <p><strong>Band Name:</strong> {{ jobRole.bandName }}</p>
            <p><strong>Closing Date:</strong> {{ jobRole.closingDate | date }}</p>
            <p><strong>Status Name:</strong> {{ jobRole.statusName }}</p>
            <p><strong>Number of Open Positions:</strong> {{ jobRole.numberOfOpenPositions }}</p>
            <br>
            <br>
            <br>
            <br>
        </div>
    </main>
    {% include "kainosFooter.html" %}
</body>
</html>
