<!DOCTYPE html>
<html>
    <head>
        <title>Open Job Roles</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="icon" type="image/x-icon" href="https://companieslogo.com/img/orig/KNOS.L-8a0d29cc.png?t=1720244492">
    </head>
    <body>
        {% include "header.html" %}
        <main class="container mt-4">
            <section id="kainos"
            <br>
            <br>
            <h1>Job Roles</h1>
            <table class="table table-striped">
                <tr>
                    <th scope="col">Role Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Closing Date</th>
                    <th scope="col">Capability Name</th>
                    <th scope="col">Band Name</th>
                </tr>
                {% for jobRole in jobRole %}
                <tbody>
                <tr>
                    <td>{{ jobRole.roleName }}</td>
                    <td>{{ jobRole.location }}</td>
                    <td>{{ jobRole.closingDate | date }}</td>           
                    <td>{{ jobRole.capabilityName }}</td>
                    <td>{{ jobRole.bandName }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <br>
            <br>
        </main>
        {% include "footer.html" %}
    </body>
</html>