<header>
    <div class="container d-flex align-items-center">
        <img src="assets/images/kainoslogo.webp" alt="Kainos logo" class="logo" id="Kainoslogo">
        <nav class="ml-auto">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.kainos.com/digital-services" id="Digitalserviceslink">Digital Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.kainos.com/workday" id="workdaylink">Workday</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.kainos.com/industries"id="kainosindustrieslink">Industries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#insights" id="loginlink">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://careers.kainos.com/gb/en" id="careerslink">Careers</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
