<!DOCTYPE html>
<html>
<head>
    <title>Job Role Information</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/styles.css">
    <link rel="icon" type="image/x-icon" id="companieslogo" href="https://companieslogo.com/img/orig/KNOS.L-8a0d29cc.png?t=1720244492">
</head>
<body>
    {% include "kainosHeader.html" %}

    <main class="container mt-5">
        <h1 class="mb-4">Quiz Completed</h1>
        <h2>Your recommended job is:</h2>
        
        <!-- The results will be shown here -->
        <div id="resultsContainer"></div>
    </main>
    {% include "kainosFooter.html" %}
    
    <script>
    </script>
</body>
</html>
