<h1 class="mb-4">Question Five</h1>
<h2 class="mb-4">Do you have experience designing large-scale software architectures and making high-level technical decisions?</h2>
<form id="questionForm">
    <div class="radio-group">
        <label>
            <input id="answer" type="radio" name="design-architecture" value="experience-designing-large-scale-software-architecture-and-technical-decisions" required>
            Yes
        </label>

        <label>
            <input id="answer" type="radio" name="design-architecture" value="no-experience-designing-large-scale-software-architecture-and-technical-decisions">
            No
        </label>
    </div>
    <button id="backButton" type="button" onclick="goBack()" style="display: none;">Back</button>
    <button id="button" type="button" onclick="saveAnswer()">Continue</button>
</form>