<h1 class="mb-4">Question Three</h1>
<h2 class="mb-4">Do you have experience in designing and implementing software testing strategies?
</h2>
<form id="questionForm">
    <div class="radio-group">
        <label>
            <input id="answer" type="radio" name="design-implement" value="has-experience-designing-implementing-software-testing" required>
            Yes
        </label>
        <label>
            <input id="answer" type="radio" name="design-implement" value="does-not-have-experience-designing-implementing-software-testing">
            No
        </label>
    </div>

    <button id="button" type="button" onclick="saveAnswer()">Continue</button>
    <button id="backButton" type="button" onclick="goBack()" style="display: none;">Back</button>
</form>
