<h1 class="mb-4">Question Two</h1>
<h2 class="mb-4">Are you comfortable leading and guiding a team through complex technical decisions?
</h2>
<form id="questionForm">
    <div class="radio-group">
        <label>
            <input id="answer" type="radio" name="lead-team" value="likes-leading-team-through-decisions" required>
            Yes
        </label>

        <label>
            <input id="answer" type="radio" name="lead-team" value="does-not-like-leading-team-through-decisions">
            No
        </label>

        <label>
            <input id="answer" type="radio" name="lead-team" value="not-sure-if-leading-team-through-decisions">
            Not sure
        </label>
    </div>
    <button class = "backButton" id="backButton" type="button" onclick="goBack()" style="display: none;">Back</button>
    <button id="button" type="button" onclick="saveAnswer()">Continue</button>
</form>
