<h1 class="mb-4">Question Four</h1>
<h2 class="mb-4">Are you interested in understanding and translating customer needs into technical requirements?
</h2>
<form id="questionForm">
    <div class="radio-group">
        <label>
            <input id="answer" type="radio" name="customer-needs" value="interested-understanding-translating-customer-needs" required>
            Yes
        </label>

        <label>
            <input id="answer" type="radio" name="customer-needs" value="not-interested-understanding-translating-customer-needs">
            No
        </label>

        <label>
            <input id="answer" type="radio" name="customer-needs" value="not-sure-if-interested-understanding-translating-customer-needs">
            Not sure
        </label>
    </div>
    <button class = "backButton" id="backButton" type="button" onclick="goBack()" style="display: none;">Back</button>
    <button id="button" type="button" onclick="saveAnswer()">Continue</button>
</form>