<h1 class="mb-4">Question 1</h1>
<h2 class="mb-4" class="question">Do you enjoy writing and maintaining code as a primary part of your job?
</h2>
<form id="questionForm">
    <div class="radio-group">
        <label>
            <input id="answer" type="radio" name="maintain-code" value="likes-maintaining-code-as-primary-part-of-job" required>
            Yes
        </label>

        <label>
            <input id="answer" type="radio" name="maintain-code" value="does-not-like-maintaining-code-as-primary-part-of-job">
            No
        </label>

        <label>
            <input id="answer" type="radio" name="maintain-code" value="not-sure-if-likes-maintaining-code-as-primary-part-of-job">
            Not sure
        </label>
    </div>
    <button id="button" type="button" onclick="saveAnswer()">Continue</button>
</form>